	{% block content %} 
	<div class="row create-space">
		<div class="large-5 columns large-centered">
			<div class="panel no-border reg">
				<h4 class="">Login</h4>
				<form action="#">
					<label for="name">Email Adress</label>
					<input type="text" />
					<label for="name">Password</label>
					<input type="text" />
					<a class="forgot" href="#">Forgot your password</a> 
					<input type="submit" class="button secondary small radius upper" value="sign in"/>
					or <a href="#">return to store</a>
				</form>
			</div>
		</div>
	</div>
	{% endblock %}
