	{% block content %} 
	<div class="row create-space">
		<div class="large-5 columns large-centered">
			<div class="panel no-border">
				<h4 class="">Create Account</h4>
				<form action="#">
					<label for="name">First Name</label>
					<input type="text" />
					<label for="name">Last Name</label>
					<input type="text" />
					<label for="name">Email Adress</label>
					<input type="text" />
					<label for="name">Password</label>
					<input type="text" />
					<input type="submit" class="button secondary small radius upper" value="create"/>
					<a href="#">or return to store</a>
				</form>
			</div>
		</div>
	</div> 
	{% endblock %}
	