	{% block content %} 
	<div class="row create-space">
		<div class="large-5 columns large-centered">
			<div class="panel no-border reg">
				<h4 class="">Reset Password</h4>
				<p>We will send you an email to reset your password.</p>
				<form action="#">
					<label for="name">Email Adress</label>
					<input type="text" />
					<input type="submit" class="button secondary small radius upper" value="submit"/>
					or <a href="#">cancel</a>
				</form>
			</div>
		</div>
	</div>
	{% endblock %}
	