@import 'compass/css3';

@mixin nclearfix {
   &:after{
    content: '';
    display: table;
    clear: both;
    }
}

@mixin upSpace($top:25px, $bottom:25px){
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin lspace($st: 0, $s:20px){
  
  padding:$st $s;
} 

// to fixeted positions
@mixin fixed($mt:30px){
  @include nclearfix;
  + *{
    margin-top: $mt;
  }
} 

.fixed{
  position: fixed;
  width: 100%;
  @include fixed;
}

.lh26{
  line-height: 2.6;
}

.toolbar-wrapper{
  @include nclearfix;
  background-color:#EFEFEF;
  height: 30px;
  padding: 4px;
  z-index: 999999999;
  border-bottom: 1px solid white;
  
}

.small{
  font-size: 10px; 
}

.no-border{
  border: 0px;
}

.gray{
  color: #727272;
  li{
    color: #727272;
    a{
      color: #727272;
    }
  }
}

.no-margin{
  margin: 0;
}

.normal{
  font-weight: 400;
}

.book{
  font-weight: 300;
}

.white{
  h1,h2,h3,h4,h5,h6{
    color: #fff;
  }
  color: #fff;
  li{
    color: #fff;
    a{
      color: #fff;
    }
  }
}

.black{
  h1,h2,h3,h4,h5,h6{
    color: #000;
  }
  color: #000;
  li{
    color: #000;
    a{
      color: #000;
    }
  }
}

.dark-blue{
  color: #164D7B;
}

ul{
  list-style-type: none;
  &.panoramic{
    &.four-up{
      li{
        width: 24.7%;   
      }
    }
    li{
      display: inline-block;
      float: left;
      @include box-sizing(border-box);
      
    }
  }
} 

.centered{
  margin: 0 auto;
  display: block;
}

.upper{
  text-transform: uppercase;
  li{
    text-transform: uppercase;
    a{
      text-transform: uppercase;
    }
  }
}

.bold{
  font-weight:700;
  li{
    font-weight: 700;
    a{
      font-weight: 700;
    }
  }
}
.x-bold{
  font-weight: 900;
  li{
    font-weight: 900;
    a{
      font-weight: 900;
    }
  }
}

$c:8;

.s#{$c}{
  li{
   @include lspace($s:#{$c}px); 
   &:first-child{
     padding-left: 0;
   }
   &:last-child{
     padding-right: 0;
   }
  }  
}

$c:10;

.s#{$c}{
  li{
   @include lspace($s:#{$c}px); 
   &:first-child{
     padding-left: 0;
   }
   &:last-child{
     padding-right: 0;
   }
  }  
}



.logo{
  img{
    margin-top: 50px;
    margin-bottom: 30px;
  }
}



.first-banner{
  background: url(http://cdn.shopify.com/s/files/1/0116/7992/t/5/assets/slideshow_1.jpg?614) no-repeat center;
  height: 400px;
  .main-promo{
    margin: 0 auto;
    text-align: center;
    padding: 30% 0;
    p{
      margin: 0;
    }
    a{
      color: #fff;
      border-color: #fff;
      text-transform: uppercase;
      &:hover{
        font-weight: 900;
      }
    }
  }
}

.padding40{
  padding: 40px 0;
}


.bordert{
  border-top: 5px solid #EDEDED;
  min-height: 100px;
}

.borderb{
  border-bottom: 5px solid #EDEDED;
  min-height: 100px;
}

.view-full{
  background: #F2F0F0;
  h3{
    line-height: 1;
    margin-top: 40px;
  }
  a{
    margin: 0 auto;
    display: block;
    font-size: 13px;
    font-weight: 900;
    padding: 10px 0px;
    width: 50%;
  }
}

.feature-list{
  h4{
    margin: 0;
  }
}

.text-header{
  margin: 40px 0;
}

.products{
  margin: 60px 0;
  &.all{
    margin-top: 10px;
  }
  ul{
    @include nclearfix;
    li{
      margin: 20px 0;
      &:first-child{
        padding-left: 10px;
      }
      &:last-child{
        padding-right: 10px;
      }
      h4{
        text-align: center;
        margin: 0;
        font-size: 14px;
        color: #333;
        margin-bottom: 4px;
      }
      span{
        text-align: center;
        display: block; 
        color: #787878;
        font-weight: bold;
        
      }
    }
  }
}


.feature-list-icon-1, .feature-list-icon-2, .feature-list-icon-3 {
  display: block;
  float: left;
  width: 75px;
  height: 72px;
  margin-right: 1em;
  text-indent: -9999px;
  direction: ltr;
  background: url(http://cdn.shopify.com/s/files/1/0116/7992/t/5/assets/icons-sprite1x.png?614) no-repeat;
  background-size: 81px 226px;
}


.feature-list-icon-1 {
  background-position: -2px -4px;
}


.feature-list-icon-2 {
  background-position: -2px -76px;
}

.feature-list-icon-3 {
  background-position: -3px -149px;
}

.options{
  @include upSpace;
}

.graybox{
  background: #EDECEC;
  border: 5px solid #E3E2E2;
  margin-top: 20px;
  img{
    display: block;
  }
  .features{
    @include lspace($st:15px);
    p{
      line-height: 1.2;
      font-size: 14px;
    }
  }
}

h1.off{
      line-height: .8;
      font-size: 45px;
    }
h5.off{
  margin-bottom: 9px;
}

.first-text{
  display: none;
}


hr{
  &.image{
    background: url(http://cdn.shopify.com/s/files/1/0116/7992/t/5/assets/border1x.png?614) no-repeat center;
    height: 20px;
    width: 102%;
    border: 0;
    right: 8px;
    position: relative;
  }
}

.popular-post{
  background-color:#F9F8F8;
  @include upSpace($bottom:0);
  padding: 25px 0 50px 0;
}


.footer-wrapper{
  @include nclearfix;
  @include lspace($st: 30px, $s:0);
  background-color: #EFEFEF;
  h6{
    font-size: 11px;
    color: #1F1F1F;
    font-weight: 500;
  }
  p.copy{
    margin: 40px 0 20px 0;
  }
  .first{
    float: left;
    width: 39%;
    display: inline-block;
    @include box-sizing(border-box);
    ul{
      margin-right: 5px;
      @include column-count(2);
      li{
        a{
          font-size: 11px;
        }
      }
    }
  }
  .middle{
    border-left: 1px solid #C0C0C0;
    border-right:1px solid #C0C0C0;
    width: 21%;
    float: left;
    display: inline-block;
    @include box-sizing(border-box);
    ul{
      margin: 0 auto;
      display: block;
      width: 57% ;
      li{
        margin: 2%;
        a{
          display: inline-block;
          &:hover{
            opacity:.7;
          }
        }
      }
    }
  }
  .last{
    float: right;
    width: 38%;
    display: inline-block;
    @include box-sizing(border-box);
    form{
      input[type="text"]{
        @include border-left-radius(6px);
        @include border-right-radius(0);
      }
    }
  }
}

.icon-social { 
 width: 32px;
 height: 32px;
 text-indent: -9999px;
 background: url(http://cdn.shopify.com/s/files/1/0116/7992/t/5/assets/social.png?614) no-repeat;
}

.icon-social.twitter { background-position: -43px 0; }

.icon-social.facebook { background-position: -3px 0; }

.icon-social.instagram { background-position: -84px 0; }

.icon-social.pinterest { background-position: -125px 0; }



/* Size filter */

#size-filter  { 
    float: right;
    height: 40px;
    margin-top: -50px;
    text-align: right;
}

ul.clan {
    padding-left: 10px;
    padding-right: 5px;
    background: #efefef;
    @include border-radius(5px);
    margin-bottom: 0;
    max-width: 400px;
    float: right;
}
.clan  li  {
    list-style: none; 
    margin-right: 8px;
    display: inline;  
    color: #404041
}
.clan  li a {
    border: 1px solid black;
    border-radius: 5px ;
    border-color: rgb(152,152,152)  ;
    font-size: 7.5px; 
    font-weight: bold; 
    padding: 0 6px;  
    color: #404041;
    background-color: #fff; 
}
.clan li a:hover, .clan li a.active {
    color: #fff;
    background: #000;
    font-weight: bold;
}


.buy-box{
  background-color: #EDECED;
  border: 4px solid #DEDDDD;
  float: right;
  @include border-radius(8px);
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  max-width: 180px;
}

.purchase{
  min-height: 80px;
  h3{
    &.price{
      margin: 6px 0;
    }
  }
  h6{
    font-size: 11px;
  }
}

.product-options{
  select{
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  span{
    a{
      text-decoration: underline;
    }
  }
  input[type="submit"]{
    padding: 8px 17px; 
    display: block;
    width: 84%; 
    margin: 0 auto; 
    margin-top: 40px;
    margin-bottom: 5px; 
  }
}

h3.thetitle{
  line-height: 2.6;
  margin: 0;
  color: #333;
}

.thumbs{
  @include nclearfix;
 .image {
    width: 50%;
    float: left;
    margin-bottom: 0;
  } 
}

.social{
  width: 85%;
  float: right;
  .pinterest{
  }
  .facebook-like{
  }
}


.summary{
  @include lspace($st: 70px, $s:0);
  h6{
    line-height: 1.7;
  }
}

.reg{
  width: 88%;
  margin: 0 auto;
  a{
    color: #164D7B;
    &.forgot{
      display: block;
      margin-bottom: 15px;
    }
  }
}

.gift{
  li{
    @include box-sizing(border-box);
    width: 33%;
    display: inline-block;
    float: left;
  }
}

.more-info{
  margin-top: 10px;
  margin-bottom: 0;
}

.account{
  .panel{
    h3{
      margin:0 0 4px 0;
    }
    
  }
}

.create-space{
  @include lspace($st: 80px, $s:0);
}

.more-options{
  @include lspace($st: 30px, $s:0);
  a{
    margin: 0 10px;
  }
}

.feature-list{
  margin-top: 30px;
}

.tabs{
  height: 30px;
  margin-top: 20px;
  li{
    a{
    margin-bottom: 3px;
    padding: 0px 23px; 
    background: #000;
    text-transform: uppercase;
    @include border-radius(25px);
    float: left;
    display: inline-block;
    margin-right: 5px; 
    @include transition-property(background);
    @include transition-duration(.5s); 
    color: #fff;
    font-size: 11px;
    &.active{
      background: rgb(236, 236, 236);
      color: #000;
    }
  }
}
}

.tabs-content{
  li{
    &#tab2{
      display: none;
    }
  }
}

.getall{
  width: 100%;
  display: block;
}

#wrap{
  a{
    img{
      max-width: 510px;
    } 
  }
}
