.fixed {
  position: fixed;
  width: 100%;
}
.fixed:after {
  content: '';
  display: table;
  clear: both;
}
.fixed + * {
  margin-top: 30px;
}

.lh26 {
  line-height: 2.6;
}

.toolbar-wrapper {
  background-color: #EFEFEF;
  height: 30px;
  padding: 4px;
  z-index: 999999999;
  border-bottom: 1px solid white;
}
.toolbar-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

.small {
  font-size: 10px;
}

.no-border {
  border: 0px;
}

.gray {
  color: #727272;
}
.gray li {
  color: #727272;
}
.gray li a {
  color: #727272;
}

.no-margin {
  margin: 0;
}

.normal {
  font-weight: 400;
}

.book {
  font-weight: 300;
}

.white {
  color: #fff;
}
.white h1, .white h2, .white h3, .white h4, .white h5, .white h6 {
  color: #fff;
}
.white li {
  color: #fff;
}
.white li a {
  color: #fff;
}

.black {
  color: #000;
}
.black h1, .black h2, .black h3, .black h4, .black h5, .black h6 {
  color: #000;
}
.black li {
  color: #000;
}
.black li a {
  color: #000;
}

.dark-blue {
  color: #164D7B;
}

ul {
  list-style-type: none;
}
ul.panoramic.four-up li {
  width: 25%;
}
ul.panoramic li {
  display: inline-block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.centered {
  margin: 0 auto;
  display: block;
}

.upper {
  text-transform: uppercase;
}
.upper li {
  text-transform: uppercase;
}
.upper li a {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}
.bold li {
  font-weight: 700;
}
.bold li a {
  font-weight: 700;
}

.x-bold {
  font-weight: 900;
}
.x-bold li {
  font-weight: 900;
}
.x-bold li a {
  font-weight: 900;
}

.s8 li {
  padding: 0 8px;
}
.s8 li:first-child {
  padding-left: 0;
}
.s8 li:last-child {
  padding-right: 0;
}

.s10 li {
  padding: 0 10px;
}
.s10 li:first-child {
  padding-left: 0;
}
.s10 li:last-child {
  padding-right: 0;
}

.logo img {
  margin-top: 50px;
  margin-bottom: 30px;
}

.first-banner {
  background: url(http://cdn.shopify.com/s/files/1/0116/7992/t/5/assets/slideshow_1.jpg?614) no-repeat center;
  height: 400px;
}
.first-banner .main-promo {
  margin: 0 auto;
  text-align: center;
  padding: 30% 0;
}
.first-banner .main-promo p {
  margin: 0;
}
.first-banner .main-promo a {
  color: #DBC0B9;
}
.first-banner .main-promo a:hover {
  border-color: #fff;
  background-color: #D9C0BB;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.padding40 {
  padding: 40px 0;
}

.bordert {
  border-top: 5px solid #EDEDED;
  min-height: 100px;
}

.borderb {
  border-bottom: 5px solid #EDEDED;
  min-height: 100px;
}

.view-full {
  background: #F2F0F0;
}
.view-full h3 {
  line-height: 1;
  margin-top: 40px;
}
.view-full a {
  margin: 0 auto;
  display: block;
  font-size: 13px;
  font-weight: 900;
  padding: 10px 0px;
  width: 50%;
}

.feature-list h4 {
  margin: 0;
}

.text-header {
  margin: 40px 0;
}

.products {
  margin: 60px 0;
}
.products.all {
  margin-top: 10px;
}
.products ul:after {
  content: '';
  display: table;
  clear: both;
}
.products ul li {
  margin: 20px 0;
}
.products ul li:first-child {
  padding-left: 10px;
}
.products ul li:last-child {
  padding-right: 10px;
}
.products ul li h4 {
  text-align: center;
  margin: 0;
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}
.products ul li span {
  text-align: center;
  display: block;
  color: #787878;
  font-weight: bold;
}

.feature-list-icon-1, .feature-list-icon-2, .feature-list-icon-3 {
  display: block;
  float: left;
  width: 75px;
  height: 72px;
  margin-right: 1em;
  text-indent: -9999px;
  direction: ltr;
  background: url(http://cdn.shopify.com/s/files/1/0116/7992/t/5/assets/icons-sprite1x.png?614) no-repeat;
  background-size: 81px 226px;
}

.feature-list-icon-1 {
  background-position: -2px -4px;
}

.feature-list-icon-2 {
  background-position: -2px -76px;
}

.feature-list-icon-3 {
  background-position: -3px -149px;
}

.options {
  margin-top: 25px;
  margin-bottom: 25px;
}

.graybox {
  background: #EDECEC;
  border: 5px solid #E3E2E2;
  min-height: 200px;
  margin-top: 20px;
}
.graybox .features {
  padding: 15px 20px;
}
.graybox .features p {
  line-height: 1.2;
  font-size: 14px;
}

hr.image {
  background: url(http://cdn.shopify.com/s/files/1/0116/7992/t/5/assets/border1x.png?614) no-repeat center;
  height: 20px;
  width: 102%;
  border: 0;
  right: 8px;
  position: relative;
}

.popular-post {
  background-color: #F9F8F8;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 25px 0 50px 0;
}

.footer-wrapper {
  padding: 30px 0;
  background-color: #EFEFEF;
}
.footer-wrapper:after {
  content: '';
  display: table;
  clear: both;
}
.footer-wrapper h6 {
  font-size: 11px;
  color: #1F1F1F;
  font-weight: 500;
}
.footer-wrapper p.copy {
  margin: 40px 0 20px 0;
}
.footer-wrapper .first {
  float: left;
  width: 39%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-wrapper .first ul {
  float: left;
  width: 33%;
}
.footer-wrapper .first ul li a {
  font-size: 11px;
}
.footer-wrapper .middle {
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
  width: 21%;
  float: left;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-wrapper .middle ul {
  margin: 0 auto;
  display: block;
  width: 78%;
}
.footer-wrapper .middle ul li {
  margin: 2%;
}
.footer-wrapper .middle ul li a {
  display: inline-block;
}
.footer-wrapper .middle ul li a:hover {
  opacity: .7;
}
.footer-wrapper .last {
  float: right;
  width: 38%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-wrapper .last form input[type="text"] {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

.icon-social {
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  background: url(http://cdn.shopify.com/s/files/1/0116/7992/t/5/assets/social.png?614) no-repeat;
}

.icon-social.twitter {
  background-position: -43px 0;
}

.icon-social.facebook {
  background-position: -3px 0;
}

.icon-social.instagram {
  background-position: -84px 0;
}

.icon-social.pinterest {
  background-position: -125px 0;
}

/* Size filter */
#size-filter {
  float: right;
  height: 40px;
  margin-top: -50px;
  text-align: right;
}

ul.clan {
  padding-left: 10px;
  padding-right: 5px;
  background: #efefef;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 0;
}

.clan li {
  list-style: none;
  margin-right: 10px;
  display: inline;
  color: #404041;
}

.clan li a {
  border: 1px solid black;
  border-radius: 5px;
  border-color: #989898;
  font-size: 7.5px;
  font-weight: bold;
  padding: 0 9px;
  color: #404041;
}

.clan li a:hover, .clan li a.active {
  color: #fff;
  background: #000;
  font-weight: bold;
}

.clan li a.current {
  padding: 0 1px;
}

.clan li a.vv_b {
  padding: 0 4px;
}

.clan li a.vv_c {
  padding: 0 6px;
}

.buy-box {
  background-color: #EDECED;
  border: 4px solid #DEDDDD;
  float: right;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  width: 85%;
  margin-bottom: 20px;
}

.purchase {
  min-height: 80px;
}
.purchase h3.price {
  margin: 6px 0;
}
.purchase h6 {
  font-size: 11px;
}

.product-options select {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.product-options span a {
  text-decoration: underline;
}
.product-options input[type="submit"] {
  margin-top: 40px;
  margin-bottom: 5px;
  padding: 8px 20px;
}

h3.thetitle {
  line-height: 2.6;
  margin: 0;
  color: #333;
}

.thumbs:after {
  content: '';
  display: table;
  clear: both;
}
.thumbs .image {
  width: 50%;
  float: left;
  margin-bottom: 0;
}

.social {
  width: 85%;
  float: right;
}

.summary {
  padding: 70px 0;
}
.summary h6 {
  line-height: 1.7;
}

.reg {
  width: 88%;
  margin: 0 auto;
}
.reg a {
  color: #164D7B;
}
.reg a.forgot {
  display: block;
  margin-bottom: 15px;
}

.gift li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33%;
  display: inline-block;
  float: left;
}

.more-info {
  margin-top: 10px;
  margin-bottom: 0;
}

.account .panel h3 {
  margin: 0 0 4px 0;
}

.create-space {
  padding: 80px 0;
}
