a.label {
  padding: 2px 23px;
}
a.label.light {
  background-color: #EDECED;
  color: #000;
}
a.label.light:hover {
  color: #000;
}
a.label:hover {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.button.secondary:hover, .button.secondary:focus {
  background: #164D7B;
  border-color: #164D7B;
}

.button {
  padding: 7px 30px;
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0) inset;
}
.button.prefix {
  line-height: 1;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.button.white {
  background-color: #fff;
  border-color: #b88376;
}
.button:hover {
  text-decoration: none;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  height: 35px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.breadcrumbs {
  padding-left: 0;
}
.breadcrumbs li a {
  letter-spacing: 1px;
}
.breadcrumbs li.current a {
  font-weight: bold;
}

.section-container.tabs section.section .content {
  padding-left: 0;
  padding-right: 0;
}
.section-container.tabs section.section .content p {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 0;
}
.section-container.tabs section.section p.title {
  top: 0;
  line-height: 0;
  margin-left: 0;
  margin-right: 10px;
  display: inline-block;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
.section-container.tabs section.section p.title a {
  font-size: 10px;
}
.section-container.tabs section.section p.title a:hover {
  text-decoration: none;
}
.section-container.tabs section.section.active p.title a {
  color: #fff;
  margin-left: 0;
}

.top-bar-section ul:after {
  content: '';
  display: table;
  clear: both;
}
