{% block content %} 
	<div class="first-banner">
		<div class="row">
			<div class="large-6 columns">
			</div>
			<div class="large-6 columns">
				<div class="main-promo white">
					<h3 class="no-margin">New derbies in chocolate leather.</h3>
					<h6 class="upper normal">- a good stead from board meetings to dinner dates -</h6>
					<a class="button white round upper x-bold" href="http://wiki.shopify.com/Img_tag">$89.95 - buy now</a>
				</div>
			</div>
		</div>
	</div>

  <div class="row">
		<div class="large-12 columns">
			<div class="text-header">
				<h2 class="text-center no-margin">Let’s empower you with fresh shoes!</h2>
				<h5 class="text-center book">Great shoes are the mark of a stylish man. Let’s get you some beautifully designed shoes!</h5>
			</div>
			
			
			<div class="products">
				
					<div class="row">
						<div class="large-3 small-6 columns">
								<img src="http://cdn.shopify.com/s/files/1/0116/7992/products/Beckett-Simonon-Bailey-Chukka-Boot_-British-Tan-Profile_1024x1024_large.jpg?761" alt="" />
								<h4>Bailey Chukka Boot - British Tan</h4>
								<span>$89.99</span>
						</div>	
						<div class="large-3 small-6 columns">
								<img src="http://cdn.shopify.com/s/files/1/0116/7992/products/Beckett-Simonon-Bailey-Chukka-Boot_-British-Tan-Profile_1024x1024_large.jpg?761" alt="" />
								<h4>Bailey Chukka Boot - British Tan</h4>
								<span>$89.99</span>
						</div>	
						<div class="large-3 small-6 columns">
								<img src="http://cdn.shopify.com/s/files/1/0116/7992/products/Beckett-Simonon-Bailey-Chukka-Boot_-British-Tan-Profile_1024x1024_large.jpg?761" alt="" />
								<h4>Bailey Chukka Boot - British Tan</h4>
								<span>$89.99</span>
						</div>	
						<div class="large-3 small-6 columns">
								<img src="http://cdn.shopify.com/s/files/1/0116/7992/products/Beckett-Simonon-Bailey-Chukka-Boot_-British-Tan-Profile_1024x1024_large.jpg?761" alt="" />
								<h4>Bailey Chukka Boot - British Tan</h4>
								<span>$89.99</span>
						</div>	
					</div>
				
			</div><!--/products-->
			
			
			
			
			
			
		</div>
	</div>
	
	<div class="view-full">
		<div class="padding40">
			<div class="row">
				<div class="large-6 columns">
					<h3 class="text-center">From now on, we will take care of all your shoe needs.</h3>
					<p class="text-center">Your shoes reveal a lot about your personality, so they should be as tasteful as the rest of your outfit.  Shoes can tell who the boss in the room is, right? So we all agree we want to look sharp... but, do you really need to pay + for a pair of stylish leather shoes? Well, not anymore.</p>
					<a href="" class="button radius text-center secondary">VIEW THE FULL COLLECTION</a>
				</div>
				<div class="large-6 columns">
					<ul class="feature-list">
						<li>
						    <span class="feature-list-icon-1">Icon</span>
						    <h4>In-House Design</h4>
						    <p>Our designs are the epitome of where elegant form meets practical function. They are a timeless statement that’s usually understated and always a classic.</p>
						</li>
					    <li>
					    	<span class="feature-list-icon-2">Icon</span>
						    <h4>No Middlemen</h4>
						    <p>We design and sell our own products so we can skip all intermediaton mark-ups, this allow us to keep our prices low without sacrifycing quality and service.</p>
						</li>
						<li>
							<span class="feature-list-icon-3">Icon</span>
						    <h4>Superior Service</h4>
						    <p>Free shipping both ways, no tricky return processes, no bad-tempered customer service communications. You will be treated as we would like to be treated.</p>
					    </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<div class="options">
				<ul class="large-block-grid-3">
					<li class="text-center">
						<h6 class="label text-center upper">- Free SHIPPING AND RETURNS -</h6>
						<div class="graybox">
							<img class="full" src="http://cdn.shopify.com/s/files/1/0116/7992/t/5/assets/free2x.jpg?761" alt="" />
						</div>
					</li>
					<li class="text-center">
						<h6 class="label text-center upper">- THE SHOES YOU ALWAYS WANTED -</h6>
						<div class="graybox">
							<img src="http://cdn.shopify.com/s/files/1/0116/7992/t/5/assets/shoe2x.jpg?761" alt="" />
						</div>
					</li>
					<li class="text-center">
						<h6 class="label text-center upper">- Join The Conversation -</h6>
						<div class="graybox">
							<div class="features">
								<h3 class="x-bold black">Join us and get 10% off.</h3>
								<p>You will receive promo-codes, updates, lots of style tips and<br> <strong>10% off your first order.</strong></p>
								<form action="http://beckettsimonon.createsend.com/t/t/s/vkj/" method="post" id="subForm">
							        <input type="text" class="radius" name="cm-vkj-vkj" id="vkj-vkj" placeholder="Your email...">
							        <input type="submit" class="button secondary radius no-margin upper" value="JOIN and get 10% OFF code">
								</form>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<hr class="image" />
		</div>
	</div>
	
	<div class="popular-post">
		<div class="row">
			<div class="large-12 columns text-center">
				<h4 class="black no-margin">Popular articles this week.</h4>
				<h5 class="book">Style advice, how-to’s and lots of content for the tasteful man.</h5>
			</div>
		</div>
		<br />
			
		<div class="row">
			<div class="large-6 columns">
				<a href="http://www.beckettsimonon.com/" class="pop-post"><img src="http://cdn.shopify.com/s/files/1/0116/7992/t/5/assets/post-img-1.jpg?761" alt="Post Articule"></a>
			</div>
			<div class="large-6 columns">
				<a href="http://www.beckettsimonon.com/" class="pop-post"><img src="http://cdn.shopify.com/s/files/1/0116/7992/t/5/assets/post-img-2.jpg?761" alt="Post Articule"></a>
			</div>
		</div><!--/row-->
		<br />
	</div>
	
{% endblock %}